* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

h1 {
    font-size: 90px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 100px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 35px;
    color: #222;
}

h6 {
    font-weight: 500;
    font-size: 20px;
}

p {
    font-size: 25px;
    color: #465b52;
    margin: 15px 0 20px 0;
    font-weight: 300;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
}

.logo {
    width: 125px;
}

button.global {
    font-size: 21px;
    font-weight: 500;
    padding: 15px 30px;
    color: black;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s ease;
}

button.white {
    font-size: 21px;
    font-weight: 500;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s ease;
}

/*---------------HOME---------------*/
/*----Navigation_Bar----*/
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    background-color: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    z-index: 999;
    position: sticky;
    top: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
    
}

#navbar li a.active::after,
#navbar li a::after {
    content: "";
    width: 0;
    height: 5px;
    background: #088178;
    position: absolute;
    bottom: -10px;
    transition: width 0.3s ease-in-out;
    left: 10px;
}

#navbar li a:hover::after, 
#navbar li a.active::after{
    width: 80%;
}

/*----Hero----*/
#hero {
    height: 90vh;
    width: 100%;
    background-image: url(img/background.png);
    background-size: cover;
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color:#E3E6F3;
}

#hero img {
    width: 50%;
    float: right;
}

#hero h4 {
    padding-bottom: 2%;
}

#hero h1 {
    padding-top: 3%;
    color: #088178;
}

#hero button {
    background-image: url(img/button.png);
    background-color: transparent;
    color: #088178;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    padding: 14px 80px 14px 65px;
    cursor: pointer;
    background-repeat: no-repeat;
}

/*----Feature----*/
#feature {
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box{
    width: 300px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: -5px -5px 30px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 9px;
    margin: 15px 0;
    transition: 0.3s ease;
}

#feature .fe-box:hover {
    box-shadow: -10px -10px #E3E6F3;
}

#feature .fe-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 9px;
    color: #222;
    background-color:#f1f0eb;
}

#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}

/*----Products----*/
#product1 {
    text-align: center;
}

#product1 p {
    margin-top: 30px;
}

#product1 .pro-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.03);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.10);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color: #606063;
    font-size: 20px;
    font-weight: 900;
}

#product1 .pro .des h5 {
    padding-top: 10px;
    color: #1a1a1a;
    font-size: 32px;
    font-weight: 500;
}

#product1 .pro .des i {
    padding-top: 7px;
    font-size: 14px;
    color: rgb(243, 181, 25);
}

#product1 .pro .des h4 {
    padding-top: 10px;
    font-size: 27px;
    color: #088178;
}

#product1 .pro .cart {
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    background-color: #e8f6ea;
    font-weight: 900;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

/*----Banner----*/
#banner {
    background-image: url(img/banner.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4 {
    color: #fff;
    font-size: 33px;
    font-weight: 500;
}

#banner h2 {
    color: #fff;
    font-size: 45px;
    padding: 10px 0;
}

#banner h2 span{
    color: #3f3030;
}

#banner button:hover {
    background-color: #088178;
    color: #fff;
}

/*----SmallBanner----*/
#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box {
    background-image: url(img/b17.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 850px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
    border: 1px solid #cce7d0;
    border-radius: 20px;
}

#sm-banner .banner-box2 {
    background-image: url(img/b10.png);
}

#sm-banner h4 {
    color: #088178;
    font-size: 30px;
    font-weight: 400;
}

#sm-banner h2 {
    color: #088178;
    font-size: 40px;
}

#sm-banner .banner-box span {
    color: #088178;
}

#sm-banner .banner-box button {
    color: #088178;
    border: 1px solid #088178;
}

#sm-banner .banner-box h2 {
    font-size: 68px;
    margin: 10px 0 10px 0;
}

#sm-banner .banner-box2 h4 {
    font-size: 40px;
    padding-bottom: 10px;
}

#sm-banner .banner-box2 h2 {
    font-size: 68px;
}

#sm-banner .banner-box2 span {
    padding: 10px 4px;
}

#sm-banner span {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .banner-box:hover button {
    background-color: #E3E6F3;
}

/*----Banner3----*/
#banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 .banner-box {
    background-image: url(img/b7.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

#banner3 .banner-box2 {
    background-image: url(img/b4.png);
}

#banner3 .banner-box3 {
    background-image: url(img/b18.png);
}

#banner3 h2 {
    color: #fff;
    font-weight: 700;
    font-size: 30px;
}

#banner3 h3 {
    color: #3f3030;
    font-weight: 500;
    font-size: 20px;
}

/*----Newsletter----*/
#newsletter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(img/banner/b14.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}

#newsletter h4 {
    color: #fff;

}

#newsletter p {
    color: #818ea0;
    font-weight: 500;
}

#newsletter p span {
    color: #ffbd27;
}

#newsletter .form {
    display: flex;
    width: 40%;
}

#newsletter input {
    height: 3.125rem;
    padding: 0 1.25em;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    font-size: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button {
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/*----Footer----*/
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer h4 {
    padding-bottom: 20px;
}

footer p {
    margin: 0 0 8px 0;
}

footer a {
    font-size: 25px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
    font-weight: 200;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
    transition: 0.3s ease;
}

footer .install .row img{
    border: 1px solid #088178;
    border-radius: 6px;
    cursor: pointer;
}

footer .install img {
    margin: 10px 0 15px 0;
    cursor: pointer;
}

footer .follow i:hover,
footer a:hover {
    color: #088178;
}

footer .copyright {
    width: 100%;
    margin-top: 10%;
    text-align: center;
}

/*---------------CATALOGUE---------------*/
#c-hero {
    background-image: url(img/c-banner.png);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

#c-hero h2,
#c-hero p,
#c-hero h4 {
    margin-left: 300px;
    padding: 5px 0;
    color: #3f3030;
}

#pagination {
    text-align: center;
}

#pagination a {
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 4px;
    background-color: #088178;
    color: #fff;
    font-weight: 600;
}

#pagination a i {
    font-size: 16px;
}

/*---------------PRODUCT---------------*/
#pro-details {
    display: flex;
    margin-top: 20px;
}

#pro-details .spro-details{
    width: 50%;
    padding-top: 30px;
}

#pro-details .spro-details h4 {
    padding: 40px 0 20px 0;
}

#pro-details .spro-details h2 {
    padding: 15px 0 20px 0;
    font-size: 50px;
}

#pro-details .spro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

#pro-details .spro-details input {
    width: 50px;
    height: 45px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
}

#pro-details .spro-details input:focus {
    outline: none;
}

#pro-details .spro-details button {
    background-color: #088178;
    color: #fff;

}

#pro-details .spro-details span {
    line-height: 30px;
    font-size: 30px;
    font-weight: 300;
}

#pro-details .pro-image {
    width: 40%;
    margin-right: 50px;
}

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}


/*----MediaQuery----*/


